/* GENERAL */

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
}

.no-wrap {
    white-space: nowrap;
}

/* HEADER */

.bg-header {
    background-color: #1a1919;
    width: 100%;
}

.logo {
    max-width: 400px;
    width: 100%;
    height: auto;
}

/* SOCIALS */

.social-icon-img {
    width: 25px;
    height: auto;
    margin-right: 7px; /* Add space to the right of the image */
}


/* HEADER (WHITE) SOCIAL LINKS */

.header-social {
    color: #FFFFFF;
    text-decoration: none;
    white-space: nowrap;
}

.header-social:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

/* BASIC BLACK LINKS */

a {
    color: #1a1919;
    text-decoration: none;
}

a:hover {
    color: #1a1919; /* Change this for hover effect, if desired */
    text-decoration: underline; /* Ensure no underline on hover */
}

/* UNDERSCORED LINKS */

.u-link {
    text-decoration: underline; /* Make link always underlined */
    color: inherit; /* Ensure the link color matches the surrounding text */
}

.u-link:hover {
    text-decoration: underline; /* Keep the underline on hover */
}

/* PROFILE PIC */

.profile-photo {
    max-width: 230px; /* Adjust this value to change the maximum size */
    width: auto; /* Allows the image to maintain its aspect ratio */
    height: auto; /* Ensures the image doesn't get distorted */
    margin: 0 auto; /* Centers the image in its container */
}

.text-center {
    text-align: center;
}

#intro .custom-align {
    text-align: center;
}

@media (min-width: 992px) {
    #intro .custom-align {
        text-align: right;
        padding-right: 0px;
    }
}

/* BUTTON */

.custom-btn {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    background-color: #ffcd29;
    color: #1a1919;
}

.custom-btn:hover {
    background-color: #ffcd29;
    text-decoration: none;
}

.custom-btn:link,
.custom-btn:visited {
    color: #1a1919;
    text-decoration: none;
}

/* GALERY IMAGE */

.clickable-image {
    cursor: pointer;
    transition: transform 0.2s, opacity 0.2s;
}

.clickable-image:hover {
    transform: scale(1.02);
    opacity: 0.8;
}

/* MODAL */

.modal-lg {
    max-width: 60%;
    width: auto;
}

.modal-content {
    margin: 0 auto;
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#modalImage {
    max-width: 100%;
    max-height: 80vh;
}

.modal-dialog {
    max-width: 90%;
    width: auto;
    margin: 0 auto;
}

@media (max-width: 767px) {
    .modal-lg {
        max-width: 90%;
    }

    .modal-content {
        width: 100%;
        margin: 0;
    }
}

/* CONTACT FORM CHECKBOX */

input[type="checkbox"]:checked {
    accent-color: #ffcd29;
}

input[type="checkbox"]:hover {
    accent-color: #e0b724;
}

/* FOOTER */

footer {
    font-size: 0.9rem;
    background-color: #1a1919;
}

/* COOKIE BANNER */

.cookie-consent {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1a1919;
    color: #ffffff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    z-index: 9999;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
}

.cookie-consent .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cookie-consent p {
    margin: 0;
}

.cookie-consent a {
    color: #ffcd29;
    text-decoration: underline;
}

.cookie-consent button {
    margin-left: 20px;
}